body {
  margin: 0;
}

html a {
	
	cursor: pointer;
	position: relative;
	text-decoration: underline;

}


.tempWrap {

    background-color:#000;
 float: left;
    width:100%;
    height:95%;
    top:5%;
    left:20%;
 
}
.main {
background: url(../images/8ef7df51_smush_Darksiders-2-The-new-iPad-wallpaper.jpg) no-repeat 100% 0 scroll;
background-color: #000;

}
.info {
background-image: url(http://cdn.wallwuzz.com/uploads/worgen-world-of-warcraft-wallpaper-wallwuzz-hd-wallpaper-12863.jpg);
}
.contact {
background-image: url(http://dark.pozadia.org/images/wallpapers/54507990/World%20of%20Warcraft/Word%20of%20Warcraft%2022.jpg);
}
.portfolio {
  background-image: url(http://bestgamewallpapers.com/files/world-of-warcraft/army-of-eternity.jpg);
}

.mainView.ng-enter, .mainView.ng-leave {
  -webkit-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 1s;
  transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 1s;


 
}

.mainView.ng-enter {
    left:100%;
    position: absolute;
    width:100%;
    height:100%;
    top: 5%;
}
.mainView.ng-enter.ng-enter-active {
  left:0;

}
.mainView.ng-leave.ng-leave-active {
  left:-100%;
}

.nextPage {
  height: 100%;
  width: 5%;
  opacity: .7;

  position: absolute;
  right: 0;
  z-index: 9999;
   background-color: #ccc;
}
.nav {
  height: 5%;
  width: 100%;
  opacity: .8;
   float: left;
   background-color: #000;
}
.nav a {
  color: #fff;

}
.clear {
  clear: both;
}
.nav ul li {
  display: inline;
  padding-right: 10px;
  
}
.nav ul {
  width: 50%;
  margin: auto;
  font-size: 125%;
   padding-top: 10px;
   text-align: center;
}