<html ng-app = "app">
<head>
<script src = "http://code.angularjs.org/1.2.3/angular.js"></script>
<script src = "http://code.angularjs.org/1.2.3/angular-route.min.js"></script>
  <script src="http://code.angularjs.org/1.2.0/angular-animate.js"></script>

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <script src="js/base.js"></script>

<script src = "js/controllers/main.controller.js"></script>


<link href="css/reset.css" rel="stylesheet">
<link href="css/base.css" rel="stylesheet">

</head>
<body>
	<div class = "wrapper" ng-controller="mainCtrl">
		<div class = "nav">
			<ul>
				<li><a ng-click="go('/'); updateIndex('/')" class = "homeLink navLinks">home</a></li>
				<li><a ng-click="go('/info'); updateIndex('/info')" class = "infoLink navLinks">info</a></li>
				<li><a ng-click="go('/portfolio'); updateIndex('/portfolio')" class = "portfolioLink navLinks">portfolio
				</a></li>
				<li><a href="http://art-taylor.net/pages/resume/" target="_blank">Resume</a></li>
				<li><a ng-click="go('/contact'); updateIndex('/contact')" class = "contactLink navLinks">contact</a></li>
			</ul>
		</div>
		<div ng-view class="mainView" >
			<!--inside main view-->
		</div><!--end view-->
	
		<div newPage="pages()" class = "nextPage" >

		

		</div>
		<div class = "clear"></div>
	</div><!--end ctlr-->



</body>
</html>