 <!doctype html>
<html ng-app = "app" id="ng-app">
<head>
<script src = "http://code.angularjs.org/1.2.3/angular.js"></script>
<script src = "http://code.angularjs.org/1.2.3/angular-route.min.js"></script>
  <script src="http://code.angularjs.org/1.2.0/angular-animate.js"></script>

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <script src="js/base.js"></script>

<script src = "js/controllers/main.controller.js"></script>


<link href="css/reset.css" rel="stylesheet">
<link href="css/build/base.css" rel="stylesheet">
<link href='http://fonts.googleapis.com/css?family=Trade+Winds|Bad+Script|Source+Code+Pro|Alike+Angular|Nothing+You+Could+Do|Black+Ops+One' rel='stylesheet' type='text/css'><!--lots of fonts.....-->

<!--[if lt IE 8]>
	<link rel="stylesheet" type="text/css" href="css/ie.css" />
<![endif]-->

</head>
<body>
	<div class = "wrapper" ng-controller="mainCtrl">
		<div class = "nav">
			
			<ul class="mainNav">
				<li><a ng-click="go('/'); updateIndex('/')" class = "homeLink navLinks">Home</a></li>
				<li><a ng-click="go('/info'); updateIndex('/info')" class = "infoLink navLinks">A bit about me</a></li>
				<li><a ng-click="go('/portfolio'); updateIndex('/portfolio')" class = "portfolioLink navLinks">Portfolio
				</a></li>
				<li><a href="http://art-taylor.net/pages/resume/" target="_blank">Resume</a></li>
				<li><a ng-click="go('/contact'); updateIndex('/contact')" class = "contactLink navLinks">Contact me</a></li>
			</ul>
			<ul class="socialNav">
				<li><a href="https://www.facebook.com/art.taylor.56"><img ng-src="images/FaceBook-icon.png" width="40" height="40" /></a></a></li>
				<li><a href="http://www.linkedin.com/pub/art-taylor/31/146/10"><img ng-src="images/Linkedin.png" width="40" height="40" /></a></li>
				<li><a href="https://www.youtube.com/user/arttay1090"><img ng-src="images/youtubeIcon.png" width="40" height="40" /></a></li>
				<li><a href="https://twitter.com/arttaylor09"><img ng-src="images/Twitter.png" width="40" height="40"/></a></li>
			</ul>
		</div>
		<div ng-view class="mainView" >
			<!--inside main view-->
		</div><!--end view-->
	
		<div newPage="pages()" class = "nextPage" >



		</div>
		<div class = "clear"></div>
	</div><!--end ctlr-->
<a class="twitter-timeline" href="https://twitter.com/arttaylor09" data-widget-id="414603654235029504">Tweets by @arttaylor09</a>
	<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>


</body>
</html>