<div class = "tempWrap portfolio" ng-controller="portCtlr">
	<p class="quote">"The tomorrow we're trying to reach is...not a tomorrow you've decided on! We...by ourselves...choose our tomorrow from the infinite universe! We will fight through it. We evolve beyond the person that we were a minute before."</p>
	<div class="portLinkGroup">
		<a href="#/prowork" class="prowork">Prowork</a>
		<a href="#/github" class="github">Githib</a>
		<a href="#/personal" class="personal">Personal Projects</a>
	</div>
	
</div>